# ModelSim / Questa
work/
*.vstf
transcript
vsim.wlf
wlf*
*.ucdb
modelsim.ini

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.venv/
venv/

# Vivado
vivado_out/
*.dcp
*.jou
*.log
*.str
.Xil/
xsim.dir/
*.wdb

# OS
Thumbs.db
desktop.ini
.DS_Store

# MATLAB
*.asv
*.m~